@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600;700&display=swap');

::-webkit-scrollbar-thumb {
  background-color: var(--cinzaClaro);
  border-radius: 0.6vh;
}

::-webkit-scrollbar {
  background: transparent;
  height: 1vh;
  position: absolute;
  width: 1vh;
  background-color: var(--corFundo);
}

* {
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  font-style: normal;
  font-family: 'Montserrat';
  margin: 0;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  letter-spacing: 0.05vh;
  resize: none;
  outline: none;
  border: 0;
  color: var(--corTexto);
  scroll-behavior: smooth;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: row;
  background-color: rgb(216, 216, 216);
}

 /*tela welcome */
#telaBoasvindas{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
  width: 25%;
  background-color: #60ac9c;
  flex-direction: column;
}
#telaBoasvindas h1{
  font-weight: 550;
  color: white;
}
#telaBoasvindas p{
  color: rgb(212, 212, 212);
  text-align: center;
  width: 65%;
  margin: 12px;
}
#telaBoasvindas button{
  color: white;
  background-color: transparent;
  border: solid 1px white;
  border-radius: 1.5rem;
  height: 6%;
  width: 47%;
  margin: 12px;
}

/* tela cadastro */
#telaCadastro{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
  width: 40%;
  background-color: #ebe7e7;
  flex-direction: column;
}
#telaCadastro h1{
  font-weight: 600;
  color:#60ac9c ;
}
#divIcons{
  display: flex;
  flex-direction: row;
}
#divIcons ion-icon{
  background-color: transparent;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 100%;
  padding: 8px;
  color: rgb(148, 148, 148);
  font-size: 1.7rem;
  margin: 10px;
  margin-top: 20px;
}
#telaCadastro p{
  color: rgb(175, 175, 175);
  font-size: 0.9rem;
  margin-top: 40px;
  margin: 25px;
}
form{
  flex-direction: column;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
form input{
  padding: 15px;
  margin: 5px;
  width: 50%;
  background-color: rgb(206, 206, 206);
  font-style: bold;
}
#buttonCriar{
  color: white;
  background-color: #60ac9c;
  border: solid 1px white;
  border-radius: 1.5rem;
  height: 7%;
  width: 40%;
  margin: 20px;
}

@media screen and (max-width: 1000px) {
  #telaBoasvindas{
    display: none;
  }
  #telaCadastro{
    width: 90%;
  }
}
